.instagram{
    max-width: 1300px;
    padding: 40px;
   margin: 0 auto;

    .container{

        margin-top: 40px;
        margin-bottom: 40px;
     
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 14px;
    }
}